footer#footer
  .container
    .grid-row
      .grid-col-lg-8
        .grid-row
          .grid-col-xs-6.grid-col-xl-3
            a(href="centre-info.html")
              h3.uppercase.small.gray About Us
            ul.list.list--vertical
              li
                a(href="centre-info.html") Contact us
              li
                a(href="centre-info.html#getting") Getting here
              li
                a(href="index.html#about") Trading hours
          .grid-col-xs-6.grid-col-xl-4
            a(href="store-directory-list-view.html")
              h3.uppercase.small.gray Store Directory
            ul.list.list--vertical
              li
                a(href="store-directory-list-view.html") View a List
              li.hidden.lg-visible
                a(href="store-directory-map-view.html") View on Map
              li
                a(href="source/privacy.pdf", target="_blank") Privacy Policy
      .grid-col-lg-4
        a.logo(href="index.html") Metcentre
    p.text-center &copy; 2015. All rights reserved